<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeLeaf-extras-springsecurity">
<head>

<title>Calendar</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
	<div align="center" sec:authorize="isAuthenticated()">
	Welcome <b><span sec:authentication="name">UserName</span></b>
	<form th:action="@{/logout}" method="post">
	<input type ="submit" class="btn btn-primary" value="Logout"/>
	</form>
	</div>
	

	
		<h2 sec:authorize ="hasRole('ADMIN')">Gestion des tâches  </h2>
		<form th:action="@{/tacheController/addTache}" method="post" sec:authorize ="hasRole('ADMIN')">
			<div class="form-group">
				<label for="titre">Titre:</label> <input type="text"
					class="form-control" id="titre" name="titre">
			</div>
		
			<div class="form-group">
				<label for="descriptiont">description de la tâche</label>
				<textarea class="form-control" rows="1" id="description" name="description"></textarea>
			</div> 
			
			<div class="form-group">
				<label for="dateAffection">Date début:</label> <input type="date"
					class="form-control" id="dateAffection" name="dateAffection">
			</div>
			
			<div class="form-group">
				<label for="dateLivraison">Date de livraison:</label> <input type="date"
					class="form-control" id="datelivraison" name="dateLivraison">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>


		<br> <br> <br>

		<h2>Liste des tâches</h2>
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>TITRE</th>
					<th>DESCRIPTION</th>
					<th>DATE DEBUT</th>
					<th>DATE DE LIVRAISON</th>
					<th sec:authorize ="hasRole('ADMIN')">ACTION</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tac:${taches}">
					<td th:text="${tac.idTache}"></td>
					<td th:text="${tac.titre}"></td>
					<td th:text="${tac.description}"></td>
					<td th:text="${tac.dateAffection}"></td>
					<td th:text="${tac.dateLivraison}"></td>
					<td sec:authorize ="hasRole('ADMIN')" ><a
						th:href="@{/tacheController/deleteTache(id=${tac.idTache})}">delete</a>
						<a th:href="@{/tacheController/getOne(id=${tac.idTache})}">update
					</a></td>
				</tr>

			</tbody>
		</table>
	</div>


</body>
</html>